body{
    background-color: rgb(215, 255, 255);
        background-image: url('./images.jpg');
        background-repeat: repeat;
        background-attachment: fixed;
    }

#primeiro{
    background-color: rgb(154, 253, 154);
}