body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.menu {
    background-color:rgb(32, 41, 173);
    padding: 20px;
    width: 100%;

}

.logo {
    width: 100px;
    height: auto;
}

.info {
    background-color: rgb(243, 171, 21);
    padding: 10px;
    text-align: center;
}

.contact-info p {
    margin: 5px 0;
}

.image-between img {
    width: 80%;
    max-width: 300px;
    height: auto;
}

.form-section {
    background-color: #fff;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input, textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px;
    background-color:rgb(32, 41, 173);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #555;
}
#mensagem{
   height: 100px;
}

.sair{}